<nav>
  <div class="nav-wrapper row">
    <div class="col s6">
      <a href="#" class="brand-logo left">TastyTreats </a>
    </div>
    <div class="col offset-s5">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/recipe">Search</a></li>
        <li *ngIf="!loggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="!loggedIn"><a routerLink="/register">Register</a></li>
        <li *ngIf="loggedIn"><a routerLink="/lists">Lists</a></li>
        <li *ngIf="loggedIn"><a routerLink="" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav right" id="mobile-demo">
  <li><a class="sidenav-close" routerLink="/recipe">Search</a></li>
  <li *ngIf="!loggedIn"><a class="sidenav-close" routerLink="/login">Login</a></li>
  <li *ngIf="!loggedIn"><a class="sidenav-close" routerLink="/register">Register</a></li>
  <li *ngIf="loggedIn"><a class="sidenav-close" routerLink="/lists">Lists</a></li>
  <li *ngIf="loggedIn"><a class="sidenav-close" routerLink="" (click)="logout()">Logout</a></li>
</ul>
